<div class="row" id="posts">
  <div class="posts_list small-12 large-6 columns">
    {{#linkTo "posts.show" this}}
      <h2>{{title}}</h2>
      <h2 class="posts_summary">
        {{summary}}
      </h2>
    {{/linkTo}}
      <p>{{date}}<p>
  </div>
  <div class="posts_list small-12 large-6 columns">
    <span class="border">
      <img {{bindAttr src="imageMediumUrl"}} class="float_right image" />
    </span>
  </div>
  <div class="posts_list small-12 columns">
    <p>{{context}}</p>
  </div>

</div>
