<div class="lessons_list large-3 small-6 columns">
  <div class="play_mark_small2 play_button paused">
    <div class="play_this_lesson_mp3">{{mp3}}</div>
    <div class="play_this_lesson_title" style="display:none">{{title}}</div>
    <div class="play_this_lesson_summary" style="display:none">{{summary}}</div>
    <div class="play_this_lesson_date" style="display:none">{{date}}</div>
  </div>
  {{#linkTo "lessons.show" this}}
    <img {{bindAttr src="imageMediumUrl"}} class="play_this_lesson_image">
    <h2 class="lessons_summary">
      {{summary}}
    </h2>
    <h2>{{title}}</h2>
    <h3>{{date}}</h3>
  {{/linkTo}}
   <a href='#' {{action 'destroy'}} class="button">Delete</a>
</div>
