<div class="form_box">
  <h1>Edit Podcast</h1>
  <form>
    <div>
      <label {{bindAttr for="titleField.elementId"}}>Title</label>
      {{view Ember.TextField valueBinding='title' name='title' viewName='titleField'}}
    </div>
    <div>
      <label {{bindAttr for='summaryField.elementId'}}>Summary</label>
      {{view Ember.TextField valueBinding='summary' name='summary' viewName='summaryField'}}
    </div>
    <div>
      <label>Image</label>
     {{!  {{view App.file fileBinding="lesson.image_url" }}
    </div>
  </form>
</div>

<div class="view_bar">
  <div class="vew_bar_right">
    <a href='#' {{action cancel target='controller' }} class="button">Cancel</a>
  </div>
  <div class="vew_bar_right">
    <a href='#' {{action 'destroy'}} class="button">Delete</a>
  </div>
  <div class="vew_bar_right">
    <a href='#' {{action save}} class='button'>Update</a>
  </div>
</div>
